*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
img {
    vertical-align: top;
}
ul,
ol,
li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
}
.wrapepr {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.header {
    display: block;
    width: 100%;
}
.header__container {
    position: relative;
}
.header__menu {
    position: absolute;
    top: 0;
    right: 0;
}
.menu {
    padding: 10px 0 0 0;
}
.menu__list {
    display: flex;
}
.menu__item {
}
.menu__item:not(:first-child) {
    margin: 0 0 0 8px;
}
.menu__link {
    color: #0645ad;
}
.menu__link:hover {
    text-decoration: underline;
}


.main {
    margin-top: 20px;
    padding: 0 50px;
    flex: 1 1 auto;
}
.main__title {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
    line-height: 130%;
}
.main__text {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 110%;
}

.footer {
    margin-top: 10px;
    padding: 50px;
    font-size: 20px;
    font-weight: 400;
}